My Sub-Automax.json
{
  "name": "My Sub-Automax",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c556c-6782-4e26-ada8-b45e6c5fabf6",
              "name": "=ad.ous.ruta",
              "value": "OU=_Users,OU=Taller,OU=Automax,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "42d52379-b524-4bd4-a3d1-4333f9ea824b",
              "name": "ad.ous.manager",
              "value": "={{ $json.usuario.DN }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        6320
      ],
      "id": "49a96b6b-69de-479f-986d-9a6df32337d4",
      "name": "Asignar OU Taller"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c556c-6782-4e26-ada8-b45e6c5fabf6",
              "name": "=ad.ous.ruta",
              "value": "OU=_Users,OU=Servicios,OU=Automax,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "42d52379-b524-4bd4-a3d1-4333f9ea824b",
              "name": "ad.ous.manager",
              "value": "={{ $json.usuario.DN }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        6080
      ],
      "id": "233d4868-7a88-4227-ac4b-d799f91eabdd",
      "name": "Asignar OU Servicios"
    },
    {
      "parameters": {
        "jsCode": "const original = $node[\"Generar username\"].json;\n\nlet actual = {};\ntry {\n  actual = $node[\"Incrementar Intento\"].json;\n} catch (e) {\n  actual = original;\n}\n\nconst usuarioNoExiste = $node[\"Consultar usuario AD\"].json.error?.status === 500;\n\nconst resultadoFinal = {\n  ...original,\n  ...actual,\n  samCandidate: actual.samCandidate || original.samCandidate,\n  upn: actual.upn || original.upn\n};\n\nreturn [{ json: resultadoFinal }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        5952
      ],
      "id": "8b7ca935-bb60-46eb-a5f3-a70b5f3f2670",
      "name": "Usuario creado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04c12245-ae1f-4210-b095-658365cc7a02",
              "name": "cargoKey",
              "value": "={{ ($json.cargoSolicitado ?? '').toString().trim().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        5920
      ],
      "id": "b5865856-358b-4010-abf9-221eab9a3a53",
      "name": "Normalizar cargo"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizeText(s) {\n  return String(s ?? \"\")\n    .trim()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}\\s]/gu, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction onlyAZ09(s) {\n  return String(s ?? \"\").replace(/[^a-z0-9]/g, \"\");\n}\n\nconst fullRaw = $json.nombreCompleto ?? \"\";\nconst full = normalizeText(fullRaw);\nconst parts = full ? full.split(\" \").filter(Boolean) : [];\n\nlet nombre1 = \"\";\nlet nombre2 = \"\";\nlet apellido1 = \"\";\nlet apellido2 = \"\";\n\nif (parts.length >= 4) {\n  nombre1 = parts[0];\n  nombre2 = parts[1];\n  apellido1 = parts[parts.length - 2];\n  apellido2 = parts[parts.length - 1];\n} \nelse if (parts.length === 3) {\n  nombre1 = parts[0];\n  apellido1 = parts[1];\n  apellido2 = parts[2];\n} \nelse if (parts.length === 2) {\n  nombre1 = parts[0];\n  apellido1 = parts[1];\n} \nelse if (parts.length === 1) {\n  nombre1 = parts[0];\n}\n\nconst nombreClean = onlyAZ09(nombre1);\nconst apellido1Clean = onlyAZ09(apellido1);\nconst apellido2Clean = onlyAZ09(apellido2);\n\nconst intento = 0;\n\nlet samCandidate = [nombreClean, apellido1Clean].filter(Boolean).join(\".\");\nif (!samCandidate) samCandidate = \"usuario\";\n\nconst domain = \"automax.com.co\";\nconst upn = `${samCandidate}@${domain}`;\n\nreturn {\n  ...$json,\n  nombre1,\n  nombre2,\n  apellido1,\n  apellido2: apellido2Clean,\n  intento,\n  samBase: samCandidate,\n  samCandidate,\n  upn,\n  email: upn\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        5936
      ],
      "id": "906f436e-5f97-43b6-b1c8-4a2a0429bded",
      "name": "Generar username"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a37f3f0-043a-452d-a15b-0debc517a28a",
              "leftValue": "={{ $json.usuario}}",
              "rightValue": 500,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        5936
      ],
      "id": "bf09079b-f16e-4ab6-869b-4dbc1f6b745a",
      "name": "¿Usuario existe?"
    },
    {
      "parameters": {
        "jsCode": "const mergedData = {};\n\nfor (const item of items) {\n  Object.assign(mergedData, item.json);\n}\n\nreturn [{ json: mergedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        5936
      ],
      "id": "68ff5ca1-d77c-4fd3-8cf1-c70c8d8110d7",
      "name": "Entregar Datos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ce6b0d5-baff-400f-a2b2-b917fe58d5db",
              "name": "ad.directorioId",
              "value": "3",
              "type": "string"
            },
            {
              "id": "b63a1415-ac02-4db5-a537-750dd35ad83b",
              "name": "ad.dominio",
              "value": "automax.com.co",
              "type": "string"
            },
            {
              "id": "7ed24aa4-49cd-433e-bc7e-c2a20b60cb5e",
              "name": "ad.baseDN",
              "value": "DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        5696
      ],
      "id": "448c17e8-f3ac-4c27-9cd7-22a81a2dc074",
      "name": "AD Base Prueba (Automax)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c556c-6782-4e26-ada8-b45e6c5fabf6",
              "name": "=ad.ous.ruta",
              "value": "OU=_Users,OU=Comercial,OU=Automax,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "42d52379-b524-4bd4-a3d1-4333f9ea824b",
              "name": "ad.ous.manager",
              "value": "={{ $json.usuario.DN }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        5840
      ],
      "id": "feb354eb-5737-4f02-93f9-79578570d7b6",
      "name": "Asignar OU Comercial"
    },
    {
      "parameters": {
        "jsCode": "// 1. Buscamos el último intento exitoso que realizó este mismo nodo\nlet intentoActual = 0;\ntry {\n    // Intentamos obtener el valor de la última vez que pasó por aquí\n    intentoActual = $(\"Incrementar Intento\").last().json.intento || 0;\n} catch (e) {\n    intentoActual = 0;\n}\n\nconst intento = intentoActual + 1;\n\n// 2. Traemos los datos base del nodo donde se genera todo el flujo\n// Cambia \"Generar username1\" por el nombre real de tu nodo inicial si es distinto\nconst origen = $(\"Generar username\").item.json;\n\nconst apellido2 = (origen.apellido2 || \"\").trim().toLowerCase();\nconst samBase = (origen.samBase || \"\").trim().toLowerCase();\nconst directorioId = (origen.ad ? origen.ad.directorioId : null) || origen.directorioId;\n\nlet extra = \"\";\n\n// 3. Lógica de homónimos corregida\nif (apellido2 && intento <= apellido2.length) {\n    extra = apellido2.substring(0, intento);\n} else {\n    // Si ya probamos todas las letras, empezamos a poner números\n    extra = apellido2 + (intento - apellido2.length);\n}\n\nconst nuevoUsername = samBase + extra;\n\nreturn [{\n    json: {\n        intento: intento,\n        samBase: samBase,\n        apellido2: apellido2,\n        directorioId: directorioId,\n        samCandidate: nuevoUsername,\n        upn: nuevoUsername + \"@automax.com.co\",\n        email: nuevoUsername + \"@automax.com.co\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        5600
      ],
      "id": "d680730b-dd3c-4ad2-8cfa-6c1769c05921",
      "name": "Incrementar Intento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7c556c-6782-4e26-ada8-b45e6c5fabf6",
              "name": "=ad.ous.ruta",
              "value": "OU=_Users,OU=Administracion,OU=Automax,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "42d52379-b524-4bd4-a3d1-4333f9ea824b",
              "name": "ad.ous.manager",
              "value": "={{ $json.usuario.DN }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        5568
      ],
      "id": "1a5d4459-6832-47f6-b086-77493ce8f773",
      "name": "Asignar OU administración"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b97ab0f2-686a-4a7e-a6b0-0d8c17e77a2e",
              "leftValue": "={{ $('Generar username').item.json.cedula }}",
              "rightValue": "={{$json.usuario?.Cedula}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        5472
      ],
      "id": "50f57586-a9f4-42cb-8a70-ae185a6a5974",
      "name": "¿Es la misma cédula?"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "95a229b7-24c3-4161-b01b-389a10f2d916",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1536,
        5696
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af6fc62a-ea31-4f92-80f5-915c1a5c33bc",
              "name": "Groupvpn",
              "value": "CN=G VPN,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        5728
      ],
      "id": "2d71b9ba-b8f7-42bf-bc6a-617f19fcacde",
      "name": "GruopVPN1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "329837dc-b0e7-4c94-8f07-dd3a3e2fe51e",
              "name": "Groupsilver",
              "value": "CN=G SILVER UTM,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "ff77132e-ac93-41a8-afc2-54fb444f5e47",
              "name": "Groupread_intranet",
              "value": "CN=G Read_Intranet,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        6224
      ],
      "id": "e17a99e0-1825-4eb6-81b7-3ac0e09b81c0",
      "name": "GroupSILVER1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb021391-73ac-498f-bf8c-680d14046b57",
              "leftValue": "={{ $json.vpn.trim() }}",
              "rightValue": "Sí",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        5744
      ],
      "id": "0f7da7c7-19aa-44ee-b495-d068e2eab4db",
      "name": "VPN1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        6176
      ],
      "id": "2dd7b5db-97ef-4607-b0ca-e73be878a910",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.grupoNavegacion }}",
                    "rightValue": "Bronze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a718e33d-4ea2-48df-bc6e-f2825a9a8086"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bronze"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d812edfb-2522-482b-b4cd-d94c73de728d",
                    "leftValue": "={{ $json.grupoNavegacion }}",
                    "rightValue": "Silver",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Silver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a32c7bf1-aadb-4a81-bdb3-acec111d148a",
                    "leftValue": "={{ $json.grupoNavegacion }}",
                    "rightValue": "Gold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gold"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1424,
        6208
      ],
      "id": "0841525f-4a4c-428d-b53a-c19db7462eb2",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d79f532f-b0c3-4ccf-b760-7c2e754a854d",
              "name": "Groupbronze",
              "value": "CN=G BRONZE UTM,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "86cdb7d0-8b0f-4391-9cce-424120f50636",
              "name": "Groupread_intranet",
              "value": "CN=G Read_Intranet,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        6064
      ],
      "id": "101de921-1d29-4216-a44d-83c3fa962fe1",
      "name": "GroupBronze1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "329837dc-b0e7-4c94-8f07-dd3a3e2fe51e",
              "name": "Groupgold",
              "value": "CN=G GOLD UTM,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            },
            {
              "id": "945d6526-b661-4378-bed0-9b4fd60eed31",
              "name": "Groupread_intranet",
              "value": "CN=G Read_Intranet,OU=_Groups,OU=Holding,DC=autoamerica,DC=sociabpo,DC=sc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        6400
      ],
      "id": "475cef38-2270-4f9f-87b3-0bdafb68011b",
      "name": "GroupGOLD1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ab60733-9b1c-48a4-beb5-cd39c56961e9",
              "name": "directorio",
              "value": "={{ $json.ad.directorioId }}",
              "type": "string"
            },
            {
              "id": "eddae66b-a912-43c0-b334-c1963d6ae762",
              "name": "samAccountName",
              "value": "={{ $json.samCandidate }}",
              "type": "string"
            },
            {
              "id": "f8453e48-16f9-45bf-91e1-cf0a49606990",
              "name": "givenName",
              "value": "={{ $json.nombre1 }}",
              "type": "string"
            },
            {
              "id": "47d301e0-f4e1-4a51-ac4b-5b68afe3da10",
              "name": "sn",
              "value": "={{ $json.apellido1 }}",
              "type": "string"
            },
            {
              "id": "97d18d3f-d8c5-4f05-9fe6-0c9e7dc0cdca",
              "name": "displayName",
              "value": "={{ $json.nombreCompleto }}",
              "type": "string"
            },
            {
              "id": "97381d6e-4d66-4972-9876-6550a5d074f8",
              "name": "mail",
              "value": "={{ $json.upn }}",
              "type": "string"
            },
            {
              "id": "9d9de10c-984f-4d16-bd41-a018a9831936",
              "name": "userPrincipalName",
              "value": "={{ $json.upn }}",
              "type": "string"
            },
            {
              "id": "15f4054a-c66d-47ab-a9ba-3466dfc2ab03",
              "name": "ouDestino",
              "value": "={{ $json.ad.ous.ruta }}",
              "type": "string"
            },
            {
              "id": "3365c690-41c6-4962-9b36-61ceb453b0ce",
              "name": "title",
              "value": "={{ $json.cargoKey }}",
              "type": "string"
            },
            {
              "id": "3fa3a6d6-3d31-4257-b9d4-b63738dfd2d6",
              "name": "department",
              "value": "={{ $json.departamento }}",
              "type": "string"
            },
            {
              "id": "b07e4ec3-d64f-4330-b629-de31cd4a713d",
              "name": "company",
              "value": "={{ $json.empresa }}",
              "type": "string"
            },
            {
              "id": "f8d16c02-adfa-479c-9b55-810282c8f809",
              "name": "managerDn",
              "value": "={{ $json.ad.ous.manager }}",
              "type": "string"
            },
            {
              "id": "0160fd13-18bd-4a50-ae97-b8bd0df181d7",
              "name": "telephoneNumber",
              "value": "7014",
              "type": "string"
            },
            {
              "id": "7a58b0ae-d4c2-44ba-8af9-1f8c70ac12e0",
              "name": "mobile",
              "value": "={{ $json.celular }}",
              "type": "string"
            },
            {
              "id": "8f3e7eec-22b6-430c-966d-e1a555241bc1",
              "name": "office",
              "value": "={{ $json.sede }}",
              "type": "string"
            },
            {
              "id": "8960d6c3-a5cf-4673-9a8e-a0321b023f2c",
              "name": "description",
              "value": "={{ $json.cedula }}",
              "type": "string"
            },
            {
              "id": "9a02ee59-82af-4b1f-b1ed-03f2d16d450d",
              "name": "streetAddress",
              "value": "={{ $json.direccionSede }}",
              "type": "string"
            },
            {
              "id": "bdc4e347-7592-4db3-9902-4ece6a66d878",
              "name": "city",
              "value": "={{ $json.ciudad }}",
              "type": "string"
            },
            {
              "id": "749f8246-1d6f-4454-af12-725ec8e19421",
              "name": "state",
              "value": "={{ $json.estado }}",
              "type": "string"
            },
            {
              "id": "90cdd047-7db0-4535-83a6-cad7a8ecf8f9",
              "name": "postalCode",
              "value": "050015",
              "type": "string"
            },
            {
              "id": "4b768758-2a2b-4ab5-a61d-ceb79002b2e4",
              "name": "country",
              "value": "CO",
              "type": "string"
            },
            {
              "id": "254e5622-8e79-4738-892c-487c28b7f760",
              "name": "employeeHireDate",
              "value": "={{ $json.fechaNacimiento }}",
              "type": "string"
            },
            {
              "id": "8de59df0-880f-4579-b08d-c80b427ccdd3",
              "name": "cloudExtensionAttribute1",
              "value": "={{ $json.celular }}",
              "type": "string"
            },
            {
              "id": "92cf5f7e-29b5-4240-8d8d-c767a1ba462a",
              "name": "groupDns",
              "value": "={{ \n[\n  $json.Groupvpn,\n  $json.Groupsilver,\n  $json.Groupbronze,\n  $json.Groupgold,\n  $json.Groupread_intranet\n].filter(g => g)\n}}",
              "type": "array"
            },
            {
              "id": "66e5a1cb-4c8a-440e-b584-1ee64d0856cf",
              "name": "password",
              "value": "",
              "type": "string"
            },
            {
              "id": "06c04c9f-f993-496a-a691-b86873cb1dc6",
              "name": "enabled",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        5936
      ],
      "id": "09c6df5f-16e6-46e1-b9bf-176a353fad5c",
      "name": "Guardar usuarioDirectorio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tczfvxx1o9.execute-api.us-east-1.amazonaws.com/consultar-usuario",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "KDuPhmnPL%d]ckF$O55(qduu?(A?<9JiXsy[+OY>BZ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"usuario\": \"{{$json.samCandidate}}\",\n    \"directorio\": {{ $json.directorioId || $json.ad?.directorioId }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        5936
      ],
      "id": "cf57ca94-e22d-44e5-a51c-77c35b8dc983",
      "name": "Consultar usuario AD",
      "credentials": {
        "httpBasicAuth": {
          "id": "IU2DvCCnvkgfUvTP",
          "name": "Unnamed credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.pertenece }}",
                    "rightValue": "=Administracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de418610-754f-49c6-b7a0-eb2f28a15dae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "administración"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4abacdd-61de-476c-9f1f-7db372bd39ba",
                    "leftValue": "={{ $('Start').item.json.pertenece }}",
                    "rightValue": "=Comercial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comercial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc95e2c1-0827-4035-9fc5-14d87264bf33",
                    "leftValue": "={{ $('Start').item.json.pertenece }}",
                    "rightValue": "=Servicios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Servicios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0377599f-002f-42e8-b13f-7730dbbe78a2",
                    "leftValue": "={{ $('Start').item.json.pertenece }}",
                    "rightValue": "=Taller",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Taller"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -576,
        5888
      ],
      "id": "bffc57c0-f5ae-438f-a18a-4f0e027d6a1f",
      "name": "Pertenece a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tczfvxx1o9.execute-api.us-east-1.amazonaws.com/consultar-usuario",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "KDuPhmnPL%d]ckF$O55(qduu?(A?<9JiXsy[+OY>BZ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"usuario\": \"{{ $json.managerSam }}\",\n    \"directorio\": {{ $json.directorioId || $json.ad?.directorioId }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        5696
      ],
      "id": "72ba9f61-eb4a-478a-89d2-9c92e4837c85",
      "name": "ConsultarJefe AD",
      "credentials": {
        "httpBasicAuth": {
          "id": "IU2DvCCnvkgfUvTP",
          "name": "Unnamed credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        5920
      ],
      "id": "87ff4ca2-4b06-4f78-bec1-66751a05d8e0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "subject": "Usuario ya Existe",
        "body": "=No se puede crear usuario\nYa existe:\n{{ $json.usuario.Nombre }}\n{{ $json.usuario.Correo }}\n{{ $json.usuario.Jefe }}\n{{ $json.usuario['Numero de celular'] }}\n{{ $json.usuario.Departamento }}\n{{ $json.usuario.Cargo }}\n{{ $json.usuario.Cedula }}\n{{ $json.usuario.Oficina }}\n{{ $json.usuario.DN }}\n.\n.\n.",
        "fromEmail": "Notificaciones@sociabpo.com",
        "toAddresses": [
          "freyd.rendon@sociabpo.com",
          "Ricardo.Tamayo@sociabpo.com",
          "Jhonny.Montoya@sociabpo.com"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        1232,
        5376
      ],
      "id": "72dd7f29-58ef-4ccb-9658-044e4f45c42b",
      "name": "Notificar Existencia1",
      "credentials": {
        "aws": {
          "id": "FRoVa5nJT7KykPcV",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "resource": "item",
        "operation": "update",
        "site": {
          "__rl": true,
          "value": "socia.sharepoint.com,8b2a2cab-01d3-4154-8998-dbb8e13c6679,20598b3e-4c3c-4b86-900b-0f7dbd440a72",
          "mode": "list",
          "cachedResultName": "Intranet Grupo"
        },
        "list": {
          "__rl": true,
          "value": "c26599a7-0965-485d-a57e-f912f8c9ed0e",
          "mode": "list",
          "cachedResultName": "F_Altas_Adicionales"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_ALTA": "={{ $json.fields.ID_ALTA }}",
            "id": "={{ $json.id }}",
            "Estado": "Seguimiento"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Title",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Título",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "ID_ALTA",
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ID_ALTA",
              "readOnly": false,
              "required": true,
              "type": "string"
            },
            {
              "id": "Pertenecea",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Pertenece a",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Opción 1",
                  "value": "Opción 1"
                }
              ],
              "removed": true
            },
            {
              "id": "Direcci_x00f3_nSede",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Direccion Sede",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "Departamento_x002f_Ar_x00e9_a",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Departamento_Area",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "Estado_x002f_Departamento",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Estado_Departamento",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "VPN",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "VPN",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "GrupodeNavegaci_x00f3_n",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Grupo de Navegación",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Gold",
                  "value": "Gold"
                },
                {
                  "name": "Silver",
                  "value": "Silver"
                },
                {
                  "name": "Bronze",
                  "value": "Bronze"
                }
              ],
              "removed": true
            },
            {
              "id": "Estado",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Estado",
              "readOnly": false,
              "required": true,
              "type": "options",
              "options": [
                {
                  "name": "Sin Iniciar",
                  "value": "Sin Iniciar"
                },
                {
                  "name": "Proceso",
                  "value": "Proceso"
                },
                {
                  "name": "Seguimiento",
                  "value": "Seguimiento"
                },
                {
                  "name": "Finalizado",
                  "value": "Finalizado"
                }
              ],
              "removed": false
            },
            {
              "id": "NombreCompleto",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Nombre Completo",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "CargoSolicitado",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Cargo Solicitado",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "Empresa",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Empresa",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Celular",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Celular",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "Sede",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Sede",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "Cedula",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Cedula",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Ciudad",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Ciudad",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Fechadenacimiento",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha de nacimiento",
              "readOnly": false,
              "required": false,
              "type": "dateTime",
              "removed": true
            },
            {
              "id": "JefeInmediato",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Jefe Inmediato",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "JefeEmail",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Jefe Email",
              "readOnly": false,
              "required": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "id",
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "ID",
              "readOnly": true,
              "required": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -1296,
        5392
      ],
      "id": "1037b9fa-c2bb-4f26-a9dd-15b1c51dcd14",
      "name": "Actualizar SharePoint",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "ioqEOTNJIkXYe3xe",
          "name": "Microsoft SharePoint account 5"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Asignar OU Taller": {
      "main": [
        [
          {
            "node": "Generar username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar OU Servicios": {
      "main": [
        [
          {
            "node": "Generar username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuario creado": {
      "main": [
        [
          {
            "node": "VPN1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar cargo": {
      "main": [
        [
          {
            "node": "Pertenece a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar username": {
      "main": [
        [
          {
            "node": "Consultar usuario AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario existe?": {
      "main": [
        [
          {
            "node": "¿Es la misma cédula?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usuario creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entregar Datos": {
      "main": [
        [
          {
            "node": "Guardar usuarioDirectorio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar OU Comercial": {
      "main": [
        [
          {
            "node": "Generar username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incrementar Intento": {
      "main": [
        [
          {
            "node": "Consultar usuario AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar OU administración": {
      "main": [
        [
          {
            "node": "Generar username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es la misma cédula?": {
      "main": [
        [
          {
            "node": "Notificar Existencia1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incrementar Intento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AD Base Prueba (Automax)": {
      "main": [
        [
          {
            "node": "ConsultarJefe AD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AD Base Prueba (Automax)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Actualizar SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GruopVPN1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupSILVER1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "VPN1": {
      "main": [
        [
          {
            "node": "GruopVPN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GroupBronze1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GroupSILVER1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GroupGOLD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupBronze1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GroupGOLD1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Entregar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar usuario AD": {
      "main": [
        [
          {
            "node": "¿Usuario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pertenece a": {
      "main": [
        [
          {
            "node": "Asignar OU administración",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asignar OU Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asignar OU Servicios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asignar OU Taller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarJefe AD": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalizar cargo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3c9594c6-a52f-4e00-9c7b-3c3940acfc28",
  "meta": {
    "instanceId": "1cc18228b98a2342abfb569134beab1251c2dd05fbddc1b19981e658d8a5196a"
  },
  "id": "fVOVdl0Zv3b7xI5C",
  "tags": []
}